{{ "<!-- Header -->" | safeHTML }}
    <section id="educations" class="">
        <header class="card-toggle">
            <p class="card-header-title has-text-black is-size-6">
                {{ .Params.languages }}
            </p>
        </header>
            <div class="card-content">
                <div class="columns">
                    <div class="column is-size-6 is-underlined has-text-weight-bold">{{ .Params.language }}</div>
                    <div class="column is-size-6 is-underlined has-text-weight-bold">{{ .Params.speak }}</div>
                    <div class="column is-size-6 is-underlined has-text-weight-bold">{{ .Params.write }}</div>
                    <div class="column is-size-6 is-underlined has-text-weight-bold">{{ .Params.read }}</div>
                </div>
            {{ range .Site.Params.Languages.showcase }}
                    <div class="columns">
                        <div class="column is-size-6 pb-0 pt-0">{{ .language}}</div>
                        <div class="column is-size-6 pb-0 pt-0">{{ .speak}}</div>
                        <div class="column is-size-6 pb-0 pt-0">{{ .write}}</div>
                        <div class="column is-size-6 pb-0 pt-0">{{ .read}}</div>
                    </div>
                {{ end }}
    </div>
</section>