.page {
	width: 210mm;
	min-height: 297mm;
	padding: 5mm;
	margin: 5mm auto;
//	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
	padding: 1cm;
	height: 257mm;
	outline: 2cm #FFEAEA solid;
}

@page {
	size: A4;
	margin: 0;
}
@media print {
	html, body {
			width: 210mm;
			height: 297mm;        
	}
	.page {
			margin: 0;
			border: initial;
			border-radius: initial;
			width: initial;
			min-height: initial;
			box-shadow: initial;
			background: initial;
			page-break-after: always;
	}
}

#topBtn {
	  display: none; /* Hidden by default */
		position: fixed; /* Fixed/sticky position */
		bottom: 20px; /* Place the button at the bottom of the page */
		right: 30px; /* Place the button 30px from the right */
		z-index: 99; /* Make sure it does not overlap */
	}
	
	#topBtn:hover {
	  background-color: #555; /* Add a dark-grey background on hover */
	}

	.card-header {
		cursor: pointer;
	}