{{ "<!-- Header -->" | safeHTML }}
    <section class="tiles pt-4 is-flex-grow-1">
        <header class="">
            <p class="card-header-title">
                Work experiences
            </p>
        </header>
        <div id="collapsible-card">
            <div class="content">
            {{ range .Site.Params.Main.Projects.showcase }}
            <div class="columns">
                <div class="column is-one-third">
                    <p class="is-size-7">{{ .range }}</p>
                    <p class="is-size-7">{{ .company }}</p>
                </div>
                <div class="column">
                    <p class="is-size-7">{{ .description }}</p>
                    {{ range $i, $e := .details }}
                        <div class="is-size-7">
                            {{.}}
                        </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        </div>
    </section>
