{{ "<!-- Banner -->" | safeHTML}}
    <div class="content is-mobile is-centered">
        <div class="is-half has-text-centered">
            <figure class="image is-inline-block mb-0 mt-3">
                <img class="is-rounded is-128x128 " src="{{ .Site.Params.baseURL }}/img/{{ .Site.Params.image }}" alt="" />
            </figure>
            <div class="is-size-2 has-text-white">{{ .Site.Params.name }}</div>
            <p class="has-text-white">{{ .Site.Params.description }}</p>
            <div>
                <ul class="icons ml-0">
                    {{ range .Site.Params.Footer.social }}
                        <li class="is-inline is-size-4"><a href="{{ .url | safeHTML }}" class="{{ .icon }} has-text-white" {{if .blank}} target="_blank" {{end}}arial-label="{{ .label }}"></a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
