{{ "<!-- Header -->" | safeHTML }}
    <section id="knowledges" class="tiles card">
        <header class="card-header card-toggle">
            <p class="card-header-title has-text-white is-size-6">
                Knowledges
            </p>
            <a href="#collapsible-card" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </a>
        </header>
        <div id="collapsible-card" class="card-content is-hidden">
            <div class="card-content">
            {{ range .Site.Params.Knowledges.showcase }}
                    <div class="columns">
                        <div class="column is-one-fifths"></div>
                        <div class="column has-text-white is-size-6">{{ .knowledge}}</div>
                        <div class="column has-text-white is-size-6">
                            <ul>
                                {{ $len := (len .details) }}
                                    {{ range $i, $e := .details }}
                                    {{ if eq (add $i 1) $len}}
                                        <li class="is-inline">{{.}}</li>
                                    {{ else }}
                                        <li class="is-inline">{{.}},</li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                {{ end }}
        </div>
    </div>
</section>