{{ "<!-- Menu -->" | safeHTML }}
<header id="header" class="alt">
    <nav class="navbar">
        <div class="navbar-brand">
          <div id="burger" class="navbar-burger" data-target="menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div id="menu" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item">
              <div>
                <ul>
                    {{ range .Translations }}
                    <li class="button is-primary"><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                    {{ end }}
                </ul>
              </div>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                 <p class="control">
                  <a class="button is-primary" href="print/">
                    <span class="icon">
                      <i class="fas fa-download"></i>
                    </span>
                    <span>A4 view</span>
                  </a>
                  <a class="button is-primary" href="single_print/">
                    <span class="icon">
                      <i class="fas fa-download"></i>
                    </span>
                    <span>A4 single page</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </nav>
</header>
